@import "../bourbon/bourbon";
@import "../base/grid-settings";
@import "../neat/neat";
@import "../base/base";

/// Mixins

@mixin vertical-center {
  position: relative;
  top: 50%;
  @include transform(translateY(-50%));
}

/// end Mixins

.section {

  height: 100vh;
  padding: 24px;

  p {

    color: white;
  }

  &.s2-e2-bg, &.s2-e3-bg, &.outro {

    p {

      color: black;
    }
  }

  &.outro {

    color: black;
    text-align: center;

    .outro-text {

      @include vertical-center();
    }

    h1 {

      font-weight: 400;
      font-style: normal;
      font-size: 2em;
    }
  }

  &.logo {

    position: fixed;
    width: 100%;

    svg {

      display: block;
      @include vertical-center();
      margin-left: auto;
      margin-right: auto;
      max-width: 900px;

      path, polygon, rect {

        fill: #ffffff;
        @include transition(all 0.2s ease-in-out);
      }
    }

    &.s1-e2-type {

      svg {

        path, polygon, rect {

          fill: #42361a;
        }
      }
    }

    &.s1-e3-type {

      svg {

        path, polygon, rect {

          fill: #ffffff;
        }
      }
    }

    &.s1-e4-type {

      svg {

        path, polygon, rect {

          fill: #ffda00;
        }
      }
    }

    &.s1-e5-type {

      svg {

        path, polygon, rect {

          fill: #000000;
        }
      }
    }

    &.s1-e6-type {

      svg {

        path, polygon, rect {

          fill: #451e00;
        }
      }
    }

    &.s1-e7-type {

      svg {

        path, polygon, rect {

          fill: #d800de;
        }
      }
    }

    &.s1-e8-type {

      svg {

        path, polygon, rect {

          fill: #3e4a48;
        }
      }
    }

    &.s1-e9-type {

      svg {

        path, polygon, rect {

          fill: #efcfa3;
        }
      }
    }

    &.s1-e10-type {

      svg {

        path, polygon, rect {

          fill: #8bd6ef;
        }
      }
    }

    &.s2-e1-type {

      svg {

        path, polygon, rect {

          fill: #f9f9fb;
        }
      }
    }

    &.s2-e2-type {

      svg {

        path, polygon, rect {

          fill: #000000;
        }
      }
    }

    &.s2-e3-type {

      svg {

        path, polygon, rect {

          fill: #ed152e;
        }
      }
    }

    &.s2-e4-type {

      svg {

        path, polygon, rect {

          fill: #010101;
        }
      }
    }

    &.s2-e5-type {

      svg {

        path, polygon, rect {

          fill: #a83115;
        }
      }
    }

    &.s2-e6-type {

      svg {

        path, polygon, rect {

          fill: #fbbbd8;
        }
      }
    }

    &.s2-e7-type {

      svg {

        path, polygon, rect {

          fill: #474096;
        }
      }
    }

    &.s2-e8-type {

      svg {

        path, polygon, rect {

          fill: #58c2ba;
        }
      }
    }

    &.s2-e9-type {

      svg {

        path, polygon, rect {

          fill: #468e43;
        }
      }
    }

    &.s2-e10-type {

      svg {

        path, polygon, rect {

          fill: #cd3181;
        }
      }
    }

    &.s3-e1-type {

      svg {

        path, polygon, rect {

          fill: #ffffff;
        }
      }
    }

    &.s3-e2-type {

      svg {

        path, polygon, rect {

          fill: #f9b672;
        }
      }
    }

    &.s3-e3-type {

      svg {

        path, polygon, rect {

          fill: #f2b5b1;
        }
      }
    }

    &.s3-e4-type {

      svg {

        path, polygon, rect {

          fill: #567984;
        }
      }
    }

    &.s3-e5-type {

      svg {

        path, polygon, rect {

          fill: #000000;
          stroke: #2d2d2d;
          stroke-width: 2px;
        }
      }
    }

    &.s3-e6-type {

      svg {

        path, polygon, rect {

          fill: #303638;
          stroke: none;
        }
      }
    }

    &.s3-e7-type {

      svg {

        path, polygon, rect {

          fill: #fdff53;
        }
      }
    }

    &.s3-e8-type {

      svg {

        path, polygon, rect {

          fill: #823f46;
        }
      }
    }

    &.s3-e9-type {

      svg {

        path, polygon, rect {

          fill: #ffffff;
        }
      }
    }

    &.s3-e10-type {

      svg {

        path, polygon, rect {

          fill: #3aad9a;
        }
      }
    }

    &.s3-e11-type {

      svg {

        path, polygon, rect {

          fill: #929265;
        }
      }
    }

    &.s3-e12-type {

      svg {

        path, polygon, rect {

          fill: #d09e00;
        }
      }
    }

    &.s4-e1-type {

      svg {

        path, polygon, rect {

          fill: #f7f7f7;
        }
      }
    }

    &.s4-e2-type {

      svg {

        path, polygon, rect {

          fill: #0f0f0f;
        }
      }
    }

    &.s4-e3-type {

      svg {

        path, polygon, rect {

          fill: #cb96c5;
        }
      }
    }

    &.s4-e4-type {

      svg {

        path, polygon, rect {

          fill: #62657b;
        }
      }
    }

    &.s4-e5-type {

      svg {

        path, polygon, rect {

          fill: #4a3f90;
        }
      }
    }

    &.s4-e6-type {

      svg {

        path, polygon, rect {

          fill: #0081b6;
        }
      }
    }

    &.s4-e7-type {

      svg {

        path, polygon, rect {

          fill: #989fad;
        }
      }
    }

    &.s4-e8-type {

      svg {

        path, polygon, rect {

          fill: #ffffff;
        }
      }
    }

    &.s4-e9-type {

      svg {

        path, polygon, rect {

          fill: #ffffff;
          opacity: 0.6;
        }
      }
    }

    &.s4-e10-type {

      svg {

        path, polygon, rect {

          fill: #eaeaea;
          opacity: 1;
        }
      }
    }

    &.outro-type {

      svg {

        path, polygon, rect {

          fill: #ffffff;
          opacity: 0;
        }
      }
    }
  }

  ///

  &.s1-e1-bg {

    background-color: #000000;
  }

  &.s1-e2-bg {

    background-color: #648c83;
  }

  &.s1-e3-bg {

    background-color: #a70100;
  }

  &.s1-e4-bg {

    background-color: #000000;
  }

  &.s1-e5-bg {

    background-color: #a0279d;
  }

  &.s1-e6-bg {

    background-color: #f7dabb;
  }

  &.s1-e7-bg {

    background-color: #3ed72f;
  }

  &.s1-e8-bg {

    background-color: #ffb9f9;
  }

  &.s1-e9-bg {

    background-color: #602544;
  }

  &.s1-e10-bg {

    background-color: #d8f1f4;
  }

  &.s2-e1-bg {

    background-color: #010103;
  }

  &.s2-e2-bg {

    background-color: #ffffff;
  }

  &.s2-e3-bg {

    background-color: #ffffff;
  }

  &.s2-e4-bg {

    background-color: #77cad2;
  }

  &.s2-e5-bg {

    background-color: #968b88;
  }

  &.s2-e6-bg {

    background-color: #f26258;
  }

  &.s2-e7-bg {

    background-color: #553e3d;
  }

  &.s2-e8-bg {

    background-color: #000000;
  }

  &.s2-e9-bg {

    background-color: #b07f50;
  }

  &.s2-e10-bg {

    background-color: #1a1c65;
  }

  &.s3-e1-bg {

    background-color: #000000;
  }

  &.s3-e2-bg {

    background-color: #40403e;
  }

  &.s3-e3-bg {

    background-color: #1c1613;
  }

  &.s3-e4-bg {

    background-color: #c29c80;
  }

  &.s3-e5-bg {

    background-color: #000000;
  }

  &.s3-e6-bg {

    background-color: #c28391;
  }

  &.s3-e7-bg {

    background-color: #395665;
    background-image: url('/img/s3-e7-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &.s3-e8-bg {

    background-color: #354b5f;
  }

  &.s3-e9-bg {

    background-color: #7fa5ba;
  }

  &.s3-e10-bg {

    background-color: #2f583c;
  }

  &.s3-e11-bg {

    background-color: #1c4e4f;
  }

  &.s3-e12-bg {

    background-color: #000000;
  }

  &.s4-e1-bg {

    background-color: #010101;
  }

  &.s4-e2-bg {

    background-color: #e4b025;
  }

  &.s4-e3-bg {

    background-color: #000000;
  }

  &.s4-e4-bg {

    background-color: #cae7ea;
  }

  &.s4-e5-bg {

    background-color: #647d72;
  }

  &.s4-e6-bg {

    background-color: #fd8ed5;
  }

  &.s4-e7-bg {

    background-color: #3a486c;
  }

  &.s4-e8-bg {

    background-color: #0f3720;
    background-image: url('/img/s4-e8-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &.s4-e9-bg {

    background-color: #816a40;
    background-image: url('/img/s4-e9-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &.s4-e10-bg {

    background-color: #c97ca3;
  }
}